.casasContenedor {
    display: flex;
    width: 100%;
    height: auto;
    color: white;
    padding-top: 8rem;
}

.contenedorMenu {
    align-content: center;
    margin: 0 auto;
    height: 4rem;
    width: 15rem;
    font-size: 3rem;
}

.selectMenu {
    display: block;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 600;
    font-family: "roboto", "inter", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    outline: none;
    width: 15rem;
    height: 4rem;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 1px;
}

.selectMenu:hover {
    background-color: var(--hufflepuff--color);
    color: var(--fondo--primario);
    letter-spacing: 1.2px;
}

.selectMenu:active {
    background-color: var(--hufflepuff--color);
    color: var(--fondo--primario);
    letter-spacing: 1px;
}

.opciónMenu {
    position: absolute;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "inter", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    outline: none;
    width: 15rem;
    transition: 0.2s;
    letter-spacing: 1px;
    color: black;
    margin-top: 1rem;
}

.selectCasa {
    padding: 1rem;
    cursor: pointer;
}

.gryffindor:hover {
    background-color: var(--gryffindor--color);
    color: white;
    border-radius: 3px;
}

.slytherin:hover {
    background-color: var(--slytherin--color);
    color: white;
    border-radius: 3px;
}

.ravenclaw:hover {
    background-color: var(--ravenclaw--color);
    color: white;
}

.hufflepuff:hover {
    background-color: var(--hufflepuff--color);
    color: white;
}

.casasInfo {
    display: flex;
    height: 80dvh;
}

.contenedorImagen {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 2rem;
}

.imagenEscudo {
    height: 75%;
}


.texto {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 4rem;
    width: 50%;
    color: var(--hufflepuff--color);
    height: auto;
}

.casaNombre {
    font-size: clamp(3rem, 4vw, 10rem);
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.casaInfo {
    color: rgb(255, 255, 255);
    font-size: clamp(1.5rem, 2vw, 7rem);
    font-family: "Cinzel", serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 2rem;
    
}

.casasInfoText {
    color: var(--gryffindor--color);
    font-weight: 800;
}
 
@media screen and (width < 600px) {
    .casasInfo {
        display: flex;
        flex-direction: column;
        height: 80dvh;
    }
    .contenedorImagen {
        display: flex;
        width: 100%;
        height: auto;
        padding: 2rem;
        margin: auto;
    }
    .imagenEscudo {
        height: 80vw;
    }
    .texto {
        padding: 4rem;
        width: 100%;
        color: var(--hufflepuff--color);
        height: auto;

    }
}